.radio__input {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.radio__label {
  display: inline-block;
  padding: 16px 24px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  border: 1px solid #bfbdb2;
  border-radius: 36px;
  cursor: pointer;
}

.radio__label:hover:enabled {
  color: #efe7be;
}

.radio__input:focus + .radio__label, 
.radio__input:checked + .radio__label {
  color: #241d1c;
  background-color: #f6f3e3;
}

.radio__input:disabled + .radio__label {
  opacity: 0.5;
  cursor: default;
}

.radio__label_spec {
  position: relative;
  padding-left: 52px;
}

.radio__label_spec::before {
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .radio__label {
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1;
  }

  .radio__label_spec {
    padding-left: 40px;
  }

  .radio__label_spec::before {
    width: 24px;
    height: 24px;
  }
}