@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v28-latin_cyrillic-regular.woff2') format('woff2'),
      url('../fonts/raleway-v28-latin_cyrillic-regular.woff') format('woff');
}