.price {
  padding: 62px 0;
}

.price__title {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.price__tagline {
  margin-bottom: 40px;
}

.price__wrapper-content {
  display: flex;
  gap: 32px;
}

.price__wrapper-content::before {
  content: '';
  flex-basis: 50%;
  background-image: url('../img/price_img.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.price__content {
  flex-basis: 50%;
}

.price__list {
  margin: 0 0 62px;
  padding: 0;
  list-style: none;
}

.price__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-bottom: 7px;
  margin-bottom: 24px;
  border-bottom: 1px solid #bfbdb2;
  font-size: 14px;
  line-height: 1;
}

.price__item:last-child {
  margin-bottom: 0;
}

.price__item-title {
  text-transform: uppercase;
}

.price__item-count {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .price {
    padding: 40px 0;
  }

  .price__title {
    font-size: 30px;
  }

  .price__wrapper-content::before {
    content: none;
  }

  .price__content {
    flex-basis: 100%;
  }

  .price__list {
    margin-bottom: 40px;
  }
}

@media (max-width: 490px) {
  .price {
    padding: 30px 0;
  }

  .price__title {
    margin-bottom: 8px;
    font-size: 20px;
  }

  .price__tagline {
    margin-bottom: 24px;
    font-size: 12px;
  }

  .price__list {
    margin-bottom: 24px;
  }

  .price__item {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.2;
  }
}