.reserve {
  padding: 62px 0 124px;
}

.reserve__title {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.reserve__list {
  margin: 0 0 72px;
  padding-left: 24px;
  line-height: 1.5;
}

.reserve__item {
  margin-bottom: 8px;
}

.reserve__item:last-child {
  margin-bottom: 0;
}

.reserve__form-container {
  margin-bottom: 40px;
}

.reserve__fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 0 72px;
  padding: 0;
  border: none;
}

.reserve__fieldset:last-child {
  margin-bottom: 0;
}

.reserve__legend {
  flex-basis: 100%;
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.reserve__fieldset_sub {
  flex-basis: 100%;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .reserve {
    padding: 40px 0 80px;
  }

  .reserve__title {
    font-size: 32px;
  }

  .reserve__form-container {
    margin-bottom: 32px;
  }

  .reserve__fieldset {
    margin-bottom: 40px;
  }

  .reserve__legend {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .reserve__fieldset_sub {
    margin-bottom: 20px;
  }
}

@media (max-width: 490px) {
  .reserve {
    padding: 32px 0 64px;
  }

  .reserve__title {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .reserve__form-container {
    margin-bottom: 24px;
  }

  .reserve__fieldset {
    margin-bottom: 32px;
  }
}